/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

/* Navbar */
/* Navbar */
.nav {
    background-color: #333;
    color: #fff;
}

.nav-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.nav ul {
    flex-basis: 55%;
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.nav ul li a.active,
.nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Logo */
.logo img {
    flex-basis: 45%;
    height: 50px;
    width: auto;
}


/* Sezioni */
.page-section {
    padding: 4rem 0;
    display: none;
}

.page-section.active {
    display: block;
}

/* Home */
#home h1 {
    text-align: center;
    margin-bottom: 1rem;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
}

/* Menu */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.menu-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.footer-info {
    flex: 1;
    min-width: 250px;
}

.footer-social {
    flex: 1;
    min-width: 200px;
}

.footer-bottom {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid #555;
    padding-top: 0.5rem;
}
